/* Web Fonts ------------------------------*/
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Base Styles ----------------------------*/
* {
  box-sizing: border-box;
  font-family: 'Roboto Regular';
}

nav ul {
  display: inline;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav li {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 7px 25px;
  background: #ffffff;
}

body {
  text-align: center;
}

/* Layout Containers ----------------------*/
.wrap {
  min-height: calc(100vh - 95.51px);
}

.main-header {
  text-align: center;
  background: #ffdded;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.intro p {
  text-align: center;
  font-size: 1.1rem;
  color: #8c8c8c;
  padding-left: 4em;
  padding-right: 4em;
}

.col {
  color: #707070;
  font-size: 1.1rem;
  line-height: 20pt;
  padding-left: 4em;
  padding-right: 4em;
}

.skills {
  text-align: center;
  padding: 1em 2em;
  margin: 2em 3em;
  background: #ffeff8;
}

.portfolio-text {
  font-size: 1.2rem;
  padding-top: 2em;
  padding-bottom: .75em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  background: #ffdded;
}

.main-footer p {
  font-size: 1rem;
  line-height: 25px;
  color: #8c8c8c;
  padding-left: 5em;
  padding-right: 5em;
}

.main-footer ul {
  text-align: center;
  display: inline;
}

.main-footer h3 {
  padding-top: 3em;
  color: #3a3a3a;
}

.main-footer li {
  padding-bottom: 1em;
  color: #8c8c8c;
  font-weight: bold;
}

.name {
  float: left;
  font-weight: bold;
  color: #3a3a3a;
  margin-top: 1em;
  padding-left: .5em;
  padding-bottom: 1em;
}

.back-to-top {
  float: right;
  font-weight: bold;
  color: #3a3a3a;
  margin-top: 1em;
  padding-right: .5em;
}

.footer-nav {
  display: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: transparent;
}

a:hover {
  color: #c9c9c9;
}

/* Page Elements --------------------------*/

hr {
  border-style: solid;
  border-color: #ffeff8;
  border-width: 1.2px;
  border-radius: 20px;
  width: 95%;
}

.profile-image {
  width: 70%;
}

.portfolio-images {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries --------------------------*/

@media (min-width: 768px) {
  .wrap {
    min-height: calc(100vh - 95.51px);
  }

  .main-header {
    background: #ffdded;
  }

  #top h1 {
    padding-bottom: .5em;
  }

  nav {
    padding-bottom: 1em;
  }

  nav li {
    text-align: center;
    display: inline;
    padding-right: .5em;
    padding-left: .5em;
    background: none;
  }

  .intro {
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;

  }

  .intro p {
    text-align: left;
    font-size: 1.5rem;
  }

  .profile-image {
    width: 400px;
    float: right;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .marketing,
  .travel,
  .photo {
    float: left;
    width: 50%;
  }

  .search,
  .map,
  .calculator {
    float: right;
    width: 50%;
  }

  .col p {
    padding-left: .5em;
    padding-right: .5em;
    width: 50%;
  }

  .portfolio-text {
    padding-top: 3em;
  }

  .main-footer {
    background-color: #ffdded;
  }

  .main-footer h3 {
    padding-top: 3em;
    color: #3a3a3a;
  }

  .name {
    float: left;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: 2em;
  }

  .back-to-top {
    display: none;
  }

  .footer-nav {
    display: inline;
  }

  .footer-nav ul {
    float: right;
    font-size: .93rem;
    margin-top: 1em;
    color: #3a3a3a;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {
  .wrap {
    min-height: calc(100vh - 95.51px);
  }

  .main-header {
    background: #ffdded;
  }

  #top h1 {
    padding-bottom: .5em;
  }

  nav {
    padding-bottom: 1em;
  }

  nav li {
    display: inline;
    padding-right: .5em;
    padding-left: .5em;
    background: none;
  }

  .main-header h1 {
    float: left;
    padding-left: 4em;
  }

  nav ul {
    float: right;
    padding-right: 4em;
  }

  .main-header h1,
  .main-header nav {
    padding-bottom: 5em;
  }

  .intro {
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;

  }

  .intro p {
    width: 65%;
    margin-left: -.5em;
    text-align: left;
    font-size: 2rem;
  }

  .profile-image {
    width: 600px;
    float: right;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 3em;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .marketing,
  .search,
  .travel {
    float: left;
    width: 33%;
  }

  .map,
  .photo,
  .calculator {
    float: right;
    width: 33%;
  }

  .col {
    padding-left: .2em;
    padding-right: .2em;
  }

  .name {
    float: left;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: 2em;
  }

  .back-to-top {
    display: none;
  }

  .main-footer {
    background-color: #ffdded;
  }

  .footer-nav {
    display: inline;
    margin-top: 1em;
  }

  .footer-nav ul {
    display: inline-block;
    float: right;
    font-size: 1rem;
    margin-top: -.1em;
    padding-right: 1em;;
    color: #3a3a3a;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

}
