/* Web Fonts ------------------------------*/
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Base Styles ----------------------------*/
* {
  box-sizing: border-box;
  font-family: 'Roboto Regular';
}

nav ul {
  display: inline;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav li {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 7px 25px;
  background: #ffffff;
}

body {
  text-align: center;
}

/* Layout Containers ----------------------*/
.wrap {
  min-height: calc(100vh - 95.51px);
}

.main-header {
  text-align: center;
  background: #f7f7f7;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.intro p {
  text-align: center;
  font-size: 1.1rem;
  color: #8c8c8c;
  padding-left: 4em;
  padding-right: 4em;
}

.col {
  color: #707070;
  font-size: 1.1rem;
  line-height: 20pt;
  padding-left: 4em;
  padding-right: 4em;
}

.portfolio-text {
  font-size: 1.2rem;
  padding-top: 2em;
  padding-bottom: .75em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  background: #f7f7f7;
}

.main-footer p {
  font-size: 1rem;
  line-height: 25px;
  color: #8c8c8c;
  padding-left: 5em;
  padding-right: 5em;
}

.main-footer ul {
  text-align: center;
  display: inline;
}

.main-footer h3 {
  padding-top: 3em;
  color: #3a3a3a;
}

.main-footer li {
  padding-bottom: 1em;
  color: #8c8c8c;
  font-weight: bold;
}

.name {
  float: left;
}

.back-to-top {
  float: right;
}

/* Page Elements --------------------------*/
.profile-image {
  width: 70%;
}

.portfolio-images {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries --------------------------*/

@media (min-width: 768px) {
  .wrap {
    min-height: calc(100vh - 95.51px);
  }

  .main-header {
    background: #f7f7f7;
  }

  nav {
    padding-bottom: 3em;
  }

  nav li {
    text-align: center;
    display: inline;
    padding-right: 2em;
  }

  .intro {
    padding: 4em 1em;
  }

  .intro p {
    text-align: left;
  }

  .profile-image {
    width: 300px;
    float: right;
    padding-left: 1em;
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .portfolio-text {
    padding-top: 3em;
  }

}

@media (min-width: 1024px) {
  .wrap {
    min-height: calc(100vh - 95.51px);
  }
}
